
<div style="min-width: 310px; margin-top: 50px; border: 1px solid #ccc">
	 <form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getSeasonalData(year)">
			<input id="seasonal_{{key}}" type="radio" class="radio_label" name="seasonal_year" value="{{year}}">{{year}}
		</label>
	 </form>
	 <div id="containerSeasonalAnalytics" ></div>
</div>
<div style="min-width: 310px; margin-top: 50px; border: 1px solid #ccc">
	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getPopularPermitsData(year)">
			<input id="popular_{{key}}" type="radio" class="radio_label" name="popular_year" value="{{year}}">{{year}}
		</label>
	 </form>
	 <div id="containerMostPopularPermitsAnalytics" ></div>
</div>
<div style="min-width: 310px; margin-top: 50px; border: 1px solid #ccc">
	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getExpirartionAnalysisData(year)">
			<input id="expiration_{{key}}" type="radio" class="radio_label" name="expiration_year" value="{{year}}">{{year}}
		</label>
	 </form>
	 <div id="containerExpirationAnalytics" ></div>
</div>
<div style="min-width: 310px; margin-top: 50px; border: 1px solid #ccc">
	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getHeatMapData(year)">
			<input id="heatmap_{{key}}" type="radio" class="radio_label" name="heatmap_year" value="{{year}}">{{year}}
		</label>
	 </form>
	 <div id="containerlocationWiseAnalytics" ></div>
</div>
