 <div class="panel panel-default" style="margin-top: 50px;">
  <div class="panel-heading">
    <h3 class="panel-title">Seasonal Permit Trend</h3>
  </div>
  <div class="panel-body">
  	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getSeasonalData(year)">
			<input id="seasonal_{{year}}" type="radio" class="radio_label" name="seasonal_year" value="{{year}}">{{year}}
		</label>
	</form>
  <select ng-model="selectedYear" ng-change="getSeasonalData(this.selectedYear)">
  <option ng-repeat="year in years">{{year}}</option>
  </select>
	<button id="seasonalBack" style="display:none" class="btn pull-right">Back</button>
    <div id="containerSeasonalAnalytics" ></div>
    <!-- Modal -->
    <div class="modal fade" id="modalDrillDownSeasonalAnalytics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 1000px;margin-left: -35%;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Seasonal Trend - <span id="quarter"></span>, Year {{year}} </h4>
          </div>
          <div class="modal-body">
            <div id="containerDrillDownSeasonalAnalytics" ></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 50px;">
  <div class="panel-heading">
    <h3 class="panel-title">Most Popular Permits</h3>
  </div>
  <div class="panel-body">
  	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getPopularPermitsData(year)">
			<input id="popular_{{year}}" type="radio" class="radio_label" name="popular_year" value="{{year}}">{{year}}
		</label>
	</form>
    <div id="containerMostPopularPermitsAnalytics" ></div>
    <!-- Modal -->
    <div class="modal fade" id="modalDrillDownPopularPermits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 1000px;margin-left: -35%;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Popular Permits - <span id="popular_quarter"></span>, Year {{year}} </h4>
          </div>
          <div class="modal-body">
            <div id="containerDrillDownPopularPermits" ></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 50px;">
  <div class="panel-heading">
    <h3 class="panel-title">Permit Expiration Analysis</h3>
  </div>
  <div class="panel-body">
  	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getExpirartionAnalysisData(year)">
			<input id="expiration_{{year}}" type="radio" class="radio_label" name="expiration_year" value="{{year}}">{{year}}
		</label>
	 </form>
    <div id="containerExpirationAnalytics"></div>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 50px;">
  <div class="panel-heading">
    <h3 class="panel-title">Area wise permits</h3>
  </div>
  <div class="panel-body">
    <form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getHeatMapData(year)">
			<input id="heatmap_{{year}}" type="radio" class="radio_label" name="heatmap_year" value="{{year}}">{{year}}
		</label>
	</form>
	<div id="containerlocationWiseAnalytics" ></div>
  </div>
</div>

<!-- <div id="divPopularContent" style="min-width: 310px; margin-top: 50px; border: 1px solid #ccc">
	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getPopularPermitsData(year)">
			<input id="popular_{{year}}" type="radio" class="radio_label" name="popular_year" value="{{year}}">{{year}}
		</label>
	 </form>
	 <div id="containerMostPopularPermitsAnalytics" ></div>
</div> -->


<!-- 
<div id="divExpiryContent" style="min-width: 310px; margin-top: 50px; border: 1px solid #ccc">
	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getExpirartionAnalysisData(year)">
			<input id="expiration_{{year}}" type="radio" class="radio_label" name="expiration_year" value="{{year}}">{{year}}
		</label>
	 </form>
	 <div id="containerExpirationAnalytics" ></div>
</div> -->
<!--
<div id="divLocationContent" style="min-width: 310px; margin-top: 50px; border: 1px solid #ccc">
	<form class="controls label-container">
		<label class="tab1" ng-repeat="(key, year) in years" ng-click="getHeatMapData(year)">
			<input id="heatmap_{{year}}" type="radio" class="radio_label" name="heatmap_year" value="{{year}}">{{year}}
		</label>
	 </form>
	 <div id="containerlocationWiseAnalytics" ></div>
</div> -->
<div class="panel panel-default" style="margin-top: 50px;">
  <div class="panel-heading">
    <h3 class="panel-title">Permpit Map</h3>
  </div>
  <div class="panel-body">
    <div id="map" style="height:500px;"></div>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 50px;">
  <div class="panel-heading">
    <h3 class="panel-title">Permpit Heat Map</h3>
  </div>
  <div class="panel-body">
    <div id="heatmap" style="height:500px;"></div>
  </div>
</div>

