<div class="progress">
	<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
  	<span class="sr-only">40% Complete (success)</span>
	</div>
</div>
<h3 class="page-header">{{question}}</h3>
<div class="row placeholders" style="margin-top:100px;">
    <div class="col-md-3" style="cursor:pointer;" ng-repeat="(option, value) in options">
      <div style="border-radius:50%;border:1px solid #ccc; height:200px; width:200px; background-color: #ddd;">
        <!--<i class="glyphicon glyphicon-home" style="font-size:50px; margin-top: 50px; margin-bottom: 20px;"></i>-->
        <label style="margin-top: 45%;margin-left: -10%;" ng-if="option == 'ANSWER'">
            <input type="radio" name="option" value="{{value}}">
            {{value}}
        </label>
         <label style="margin-top: 45%;margin-left: -10%;" ng-if="option != 'ANSWER'">
            <input type="radio" name="option" value="{{value}}">
            {{option}}
        </label>
      </div>
    </div>
</div>
<div class="row">
{{next}}
    <button class="pull-right btn btn-large btn-primary" style="margin-right:20px" ng-click="next()" ng-if="next == 'enable'">Next >> </button>
    <button class="pull-right btn btn-large btn-primary" style="margin-right:20px" ng-click="prev()" ng-if="previous == 'enable'"> << Previous</button>
</div>

<!-- <div id="questionnaire">
    <h3></h3>
    <section>
        <h3 class="page-header">{{question}}}</h3>
        <div class="row placeholders" style="margin-top:100px;">
            <div class="col-md-3 col-md-offset-2 placeholder" style="cursor:pointer;">
              <div style="border-radius:50%;border:1px solid #ccc; height:200px; width:200px; background-color: #ddd;">
                <i class="glyphicon glyphicon-home" style="font-size:50px; margin-top: 50px; margin-bottom: 20px;"></i>
                <div>New Construction</div>
              </div>
            </div>
        </div>
    </section>
    <h3></h3>
    <section>
        <p>Wonderful transition effects.</p>
    </section>
    <h3></h3>
    <section>
        <p>The next and previous buttons help you to navigate through your content.</p>
    </section>
</div> -->