<h3>Please select the permits that you want to apply</h3>

 <div class="row" style="margin-top:50px;">
 	<div class="col-md-4">
 		  <label>Job Type</label>
 		  <select ng-model="job_type" id="select_job_type" ng-init="job_type = job_types[1]" class="form-control" ng-change="getPermitType(this.job_type)">
		  <option ng-repeat="job_type in job_types" value="{{job_type.acronym}}" >{{job_type.acronym}}: {{job_type.description}}</option>
		 </select>
 	</div>
 	<div id="containerPermitType" class="col-md-4" style="display:none;">
 		<label>Permit Type</label>
 		<select ng-model="permit_type" id="select_permit_type" class="form-control" ng-change="getPermitSubType(this.permit_type)">
		  <option ng-repeat="permit_type in permit_types" value="{{permit_type.acronym}}">{{permit_type.acronym}}: {{permit_type.description}}</option>
		</select>
 	</div>
 	<div id="containerPermitSubType" class="col-md-4" style="display:none;">
 		<label>Permit Sub-type</label>
 		<select ng-model="permit_subtype" id="select_permit_subtype" class="form-control" ng-change="getRecommendations()">
  			<option ng-repeat="permit_subtype in permit_subtypes" value="{{permit_subtype.acronym}}">{{permit_subtype.acronym}}: {{permit_subtype.description}}</option>
 		</select>
 	</div>
 </div>
 <!-- <div class="row" style="margin-top:50px;text-align:center;">
 	<button class="btn btn-large btn-primary" ng-click="getRecommendations()">Get Recommendations</button>
 </div> -->

  <div class="row" style="margin-top:50px;">
  	<div class="pull-left" style="border:1px solid #ccc; height:200px; width:200px; background-color: #ddd; margin-right: 10px;" ng-repeat="(key,recommendation) in recommendations">
  		<div class="row">
        <div class="col-sm-6 col-md-12">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Permits</h3>
              <p>Job Type: {{recommendation.permitJobTypeDescription}}</p>
              <p>Permit Type: {{recommendation.permitTypeDescription}}</p>
              <p>Permit Sub-type: {{recommendation.permitSubtypeDescription}}</p>
              <p style="text-align:center;"><input type="button" class="btn btn-primary" value="Apply for Permits" onclick="window.open('/forms/common_pw1_form.pdf')" /></p>
            </div>
          </div>
        </div>
      </div>
  	</div>
  </div>

  
