body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tab1 {
    background-color: #ddd;
    border: 1px solid #ccc;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
}
.tab1 active{
    background-color: #999;
}
.radio_label{
    visibility: hidden;
    margin-left: -20px;
}