
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Smart Permits</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/dist/css/style.css" rel="stylesheet">
  </head>

  <body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Smart Permit System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
       <h2 class="form-signin-heading">Register</h2>
      <form class="row" method="post" action="/register">
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtFirstName">First Name</label>
            <input type="text" class="form-control" id="txtFirstName" placeholder="First Name" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtLastName">Last Name</label>
            <input type="text" class="form-control" id="txtLastName" placeholder="Last Name" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtEmail">Email address</label>
            <input type="email" class="form-control" id="txtEmail" placeholder="Email" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="password" class="form-control" id="txtPassword" placeholder="Password" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtAddress1">Address line 1</label>
            <input type="text" class="form-control" id="txtAddress1" placeholder="Address line 1" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtState">State</label>
            <input type="text" class="form-control" id="txtState" placeholder="State" required>
          </div>
        </div>
        <div class="col-md-6">
           <div class="form-group">
            <label for="txtAddress2">Address line 2</label>
            <input type="text" class="form-control" id="txtAddress2" placeholder="Address line 2">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="txtZipcode">Zipcode</label>
            <input type="text" class="form-control" id="txtZipcode" placeholder="Zipcode" required>
          </div>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
      </form>


    </div> <!-- /container -->

  </body>
</html>
